@model AbstractionProvider.Models.Odd


<div id="odd_@Model.ExternalID" class="panel-group col-lg-3 col-md-3 col-sm-4 col-xs-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Odd Name: @Model.Name</div>
        <div class="panel-body">
            Value: @Model.Value Special Value: @Model.SpecialBetValue
        </div>
    </div>
</div>