@{
    ViewData["Title"] = "Home Page";
}
@model AbstractionProvider.Models.Sport

<div>

    @{
        if(Model?.Events != null)
        {
            <div id="sport_@Model.ExternalID" class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Sport Name: @Model.Name
                    </div>
                    <div class="panel-body">
                        @foreach(var sportEvent in Model.Events)
                        {

                            Html.RenderPartial("_EventPartialView", sportEvent);

                        }
                    </div>

                </div>
            </div>
        }
        else
        {
            <h1>This request was done before initializing the application's cache. Please refresh the page.</h1>
        }

    }

</div>


